// colors
$color-dark-blue: #48708b;
$color-dark-grey: #4a4a4a;
$color-lime-green: #caff42;
$color-light-grey: #d1e1eb;
$color-light-blue: #89acc3;
$color-white: #FFFFFF;
$color-super-light-grey: #F2F2F2;

// breakpoints
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 700px;
