.product-list {

  .product-list-row,
  .hashtag-list-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px 0;

    .legend {
      width: 220px;
      flex-grow: 0;
      font-weight: 600;
    }

    .content {
      flex-grow: 1;
      margin: 0;
      padding-left: 20px;
      list-style: decimal;

      li {
        padding-left: 5px;
      }
    }
  }

  .hashtag-list-row {
    .content {
      list-style: none;

      li {
        padding-right: 5px;
      }
    }

    .green {
      color: #11FF11;
    }

    .red {
      color: #FF1111;
    }
  }
}
